/***************** imports *****************/
.cormorant-garamond-<uniquifier > {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/***************** print *****************/
@media print {
  #root {
    display: block !important;
    /* width: 2761px !important; */
    width: 2455px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .InfoInput,
  .header {
    display: none !important;
  }

  .Resume {
    max-height: max-content !important;
    overflow-y: initial !important;
    padding: 0.5in !important;
    font-size: large !important;
  }

  a {
    color: blue !important;
  }
}

#root {
  --padding: 1rem;
  --spacing: 0.5rem;
  --radius: 1rem;

  margin: 0 auto;
  padding: 0 2rem;

  display: grid;
  grid-template-rows: auto auto;
}

.main-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing);

  max-height: calc(100vh - 6rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-buttons {
    display: flex;
    gap: var(--spacing);

    button {
      height: fit-content;
    }
  }
}

#page-title {
  font-size: 3.5rem;
  color: yellowgreen;
  span {
    color: white;
  }
}

/***************** sections *****************/

/* =========================================================================== */
/* Inputs */
/* =========================================================================== */

.InfoInput {
  width: 35rem;

  border-radius: var(--radius);

  display: grid;
  grid-template-rows: max-content auto;

  max-height: inherit;

  .main-input-section {
    > * {
      margin-bottom: var(--padding);
    }
  }
}

.InfoInput > * {
  padding: var(--padding);
  padding-top: 0;

  border-radius: var(--radius);
}

.InfoInput > div:last-of-type {
  overflow-y: scroll;
  padding-top: 0.1rem;
}

.InfoInput .infoSectionSelectors {
  display: flex;
  justify-content: space-between;
}

.InfoInput .infoSectionSelectors .InfoSectionSelector {
  padding: var(--spacing);
  border-radius: 1rem;
  font-weight: bold;

  background-color: white;
  width: max-content;

  &:hover {
    cursor: pointer;
    color: tomato;
  }

  &.selected {
    color: tomato;
    background-color: yellowgreen;
  }
}

.InfoInput .education-section,
.InfoInput .work-exp-section,
.InfoInput .work-exp-section .work-exp-job-section {
  padding: var(--padding);
  margin-bottom: 1.5rem;

  outline: white solid 1px;
  border-radius: var(--radius);
}

/* ---------------------------------------------- */
/* Personal */
/* ---------------------------------------------- */

.InfoInput_Personal {
  border: white solid 1px;
  border-right: none;

  > :first-child {
    padding-top: var(--padding);
  }

  > div {
    margin-bottom: var(--spacing);
  }
}

/* ---------------------------------------------- */
/* Education */
/* ---------------------------------------------- */

.InfoInput_Education .education-top-lines-inputs {
  > :first-child {
    width: 100%;
  }

  > * {
    margin-bottom: var(--spacing);
  }
}

.InfoInput_Education .education-top-lines-inputs .grad-year-line {
  display: flex;
  gap: var(--spacing);
}

.InfoInput_Education .education-top-lines-inputs .degree-line {
  > * {
    margin-bottom: var(--spacing);
  }
}

.InfoInput_Education .education-top-lines-inputs .minor-or-conc-line {
  display: flex;
  gap: var(--spacing);

  label {
    display: flex;
    gap: 0.25rem;
    align-content: center;
  }
}

.InfoInput_Education .education-list-inputs {
  > div {
    margin-bottom: var(--spacing);
  }
}

.InfoInput_Education .education-list-inputs .gpa-inputs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: var(--spacing);

  input:not([type="checkbox"]) {
    width: 7rem;
  }
}

.InfoInput_Education .education-list-inputs .education-input-list-awards,
.InfoInput_Education .education-list-inputs .education-input-list-coursework {
  button {
    padding: 0 0.33rem;
  }
}

.InfoInput_Education .delete-education-button {
  margin-top: var(--spacing);
}

/* ---------------------------------------------- */
/* WorkExp */
/* ---------------------------------------------- */

.InfoInput_WorkExp .work-exp-top-lines-inputs {
  > :first-child {
    width: 100%;
  }

  > * {
    margin-bottom: var(--spacing);
  }

  .work-exp-section-time {
    display: flex;
    gap: var(--spacing);
  }
}

.InfoInput_WorkExp .jobsInfo-input-lists {
  > div {
    margin-bottom: var(--spacing);

    > button:last-of-type {
      margin-top: var(--spacing);
    }
  }
}

.InfoInput_WorkExp .jobsInfo-input-list-stack .list-item-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);

  .stack-list-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  input {
    width: 12.66rem;
  }
}

.InfoInput_WorkExp .work-exp-job-section {
  margin-top: var(--padding);
  margin-bottom: var(--spacing);

  > :first-child {
    width: 100%;
  }

  > * {
    margin-bottom: var(--spacing);
  }

  button {
    padding: 0 0.33rem;
  }

  .delete-in-level-1-button {
    width: 100%;
    margin-bottom: 0;
    border-radius: var(--radius);
  }

  .stack-list-item {
    display: flex;
    gap: var(--spacing);
  }

  .duties-list-item,
  .keyResults-list-item {
    width: 100%;

    display: grid;
    grid-template-columns: auto min-content;
    gap: var(--spacing);

    .delete-in-level-2-button {
      height: 100%;
      border-radius: var(--radius);
    }
  }
  .job-exp-section-time {
    display: flex;
    gap: var(--spacing);
  }

  .delete-jobsInfo-button {
    margin-top: var(--padding);
    padding: var(--padding);

    border: white 1px solid;
  }
}

.InfoInput_WorkExp .add-jobsInfo-button {
  margin-top: 0;

  width: 100%;
}

.InfoInput_WorkExp .delete-workExperience-button {
  margin-top: 1rem;
}

/* ---------------------------------------------- */
/* SkillsAndInt */
/* ---------------------------------------------- */

.InfoInput_SkillsAndInt {
  border: white solid 1px;
  border-right: none;

  .list-item-inputs {
    /* margin-top: var(--spacing); */
  }
}

/* =========================================================================== */
/* Resume */
/* =========================================================================== */

.Resume {
  background-color: white;
  padding: calc(2 * var(--padding));

  overflow-y: scroll;
  max-width: fit-content;
  min-width: 100%;

  font-family: "Cormorant Garamond", serif;
}

.Resume .education-top-line,
.Resume .education-second-line {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.Resume .workExp-top-line,
.Resume .workExp-job-title-line {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.Resume #references-line {
  text-align: center;
  color: gray;
}

/* =================================================================== */
/* catch all */
/* =================================================================== */

button {
  padding: var(--spacing);

  border: none;
  border-radius: 1rem;

  font-weight: bold;
  background-color: white;

  &:hover {
    color: tomato;
    background-color: yellowgreen;
  }
}

input {
  max-height: 1.5rem;

  padding: 0 var(--spacing);
  border: none;
  border-radius: 1rem;

  &[type="text"]:hover {
    outline: black solid 1px;
  }

  &[type="text"]:focus {
    outline: black solid 1px;
  }
}

textarea {
  height: 4.5rem;
  padding: 0 var(--spacing);
  border: none;
  border-radius: 1rem;

  &:hover {
    outline: black solid 1px;
  }

  &:focus {
    outline: black solid 1px;
  }
}

.list-item-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
}

.add-list-item-button {
  margin-top: var(--spacing);
}

.delete-in-level-0-button,
.delete-in-level-1-button,
.delete-jobsInfo-duties-button,
.delete-jobsInfo-stack-button,
.delete-jobsInfo-keyResults-button,
#gitHub-repo-link {
  border: white 1px solid;
  color: white;
  background-color: tomato;
  /* margin-top: var(--spacing); */
  width: 100%;

  &:hover {
    background-color: white;
    color: tomato;
  }
}

.delete-in-level-1-button,
.delete-in-level-2-button {
  border: none;

  height: 1.25rem;
  width: 1.25rem;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-section-in-level-0-button {
  width: 100%;
}

.list-input-and-del-btn {
  display: flex;
  gap: 0.25rem;

  align-items: center;
}

/***************** mobile *****************/

@media (max-width: 1230px) {
  #root {
    padding: 0;
  }

  .header {
    padding: 0 0.5rem;
  }

  .main-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    max-height: 100%;
  }

  .InfoInput {
    margin: auto;
  }

  .InfoInput > div:last-of-type {
    overflow-y: initial;
  }

  .Resume {
    overflow-y: initial;
  }

  .InfoInput_Personal,
  .InfoInput_SkillsAndInt {
    margin: 0 0.5rem;

    border-right: 1px white solid;
  }

  .main-input-section {
    padding-bottom: 0;
  }
}
